<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
        <meta charset="utf-8">
        <title>Linchpin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='linchpin.css') }}"/>
    {% endblock %}
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ url_for('index') }}" class="navbar-brand"><img src="http://lorempixel.com/32/32/abstract/5"> Linchpin</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% if g.current_user.is_authenticated() %}
              <ul class="nav navbar-nav navbar-right">
              <li><a href="#" {# TODO: Take us to the user preferences page. #}>{{ g.current_user.name }}</a></li>
                <li>
                  <a href="{{ url_for_security('logout') }}">Sign out</a>
                </li>
              </ul>
            {%  endif %}
        </div>
    </div>
</div>
<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="row">
        <div class="col-md-3 visible-lg visible-md"></div>
        <div class="col-md-6 text-danger">
        <ul class="list-unstyled">
        {% for message in messages %}
            <li class="lead">{{ message }}</li>
        {% endfor %}
        </ul>
          </div>
          </div>
      {% endif %}
    {% endwith %}
{% block content %}
{% endblock %}
</div>
</body>
</html>