{% extends 'base.html' %}
{% block head %}
    {{  super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3 visible-lg visible-md"></div>
        <div class="col-md-6">
            <img src="http://lorempixel.com/640/480" style="max-width: 100%; height: auto;"/>
            <hr>
            <a href="{{ url_for_security('login') }}" class="btn btn-primary">Sign in to Linchpin</a>
        </div>
    </div>
{% endblock %}