{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="row">
            <nav>
            {%- for breadcrumb in breadcrumbs -%}
                {#- Bit of a hack, but our blueprint isn't a sub-site of the main app. -#}
                {%- if not loop.first -%}
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>{{ '/' if not loop.last }}
                {%- endif -%}
            {%- endfor -%}
            </nav>
        </div>
{#        <div class="col-md-2"></div>#}
        <div class="col-md-12 page-header">
            <h1>{{ page_title }}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block main_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
