{% extends 'dashboard_base.html' %}
{% block head %}
    {{  super() }}
{% endblock %}
{% set page_title=organization.name %}
{% block main_content %}
<div class="row">
    <div class="col-md-6">
        <address>
            {% if organization.address_1 %}{{ organization.address_1 }}<br>{% endif %}
            {% if organization.address_2 %}{{ organization.address_2 }}<br>{% endif %}
            {% if organization.address_3 %}{{ organization.address_3 }}<br>{% endif %}
            {% if organization.address_4 %}{{ organization.address_4 }}<br>{% endif %}
            {% if organization.address_5 %}{{ organization.address_5 }}<br>{% endif %}
            {% if organization.address_6 %}{{ organization.address_6 }}<br>{% endif %}
            {% if organization.country %}{{ organization.country }}<br>{% endif %}
            {% if organization.postal_code %}{{ organization.postal_code }}<br>{% endif %}
        </address>
    </div>
    <div class="col-md-6">
        <address>
            {% if organization.contact_name %}<strong>Contact</strong><br>
                {% if organization.contact_email %}<a href="mailto:{{ organization.contact_email }}">{% endif %}
                {{ organization.contact_name }}
                {% if organization.contact_email %}</a>{% endif %}
                <br>
            {% endif %}
            <br>
            {% if organization.contact_phone %}<strong>Phone</strong><br>{{ organization.contact_phone }}<br>{% endif %}
        </address>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ table }}
    </div>
</div>
{% endblock %}