{% extends 'dashboard_base.html' %}
{% block head %}
    {{  super() }}
{% endblock %}
{% set page_title='Organizations' %}
{% block main_content %}
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" role="form">
      <div class="form-group" draggable="true">
        <div class="col-md-5">
          <div class="input-group">
            <input class="form-control" id="organisation-search" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="fa fa-search" aria-hidden="true" aria-label="search organizations"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-2 text-right">
          <a class="btn btn-primary"><span class="fa fa-plus-circle"></span> Add Organization</a>
        </div>
      </div>
    </form>
      {{ org_table }}
  </div>
</div>
{% endblock %}