{% extends 'dashboard_base.html' %}
{% block head %}
    {{  super() }}
{% endblock %}
{% set page_title='Overview' %}
{% block main_content %}
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item"><a href="{{ url_for('dashboard.organizations') }}">{{ ngettext('%(num)d Organization', '%(num)d Organizations', org_count) }}</a></li>
          <li class="list-group-item"><a href="{{ url_for('dashboard.projects') }}">{{ ngettext('%(num)d Project', '%(num)d Projects', proj_count) }}</a></li>
          <li class="list-group-item">3 Data stores</li>
          <li class="list-group-item">6 Styles</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Recent projects</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Recent Maps</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
