{% extends 'dashboard_base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% set page_title=project.name %}
{% block main_content %}
    <span class="fa-stack fa-lg">
        <i class="fa fa-globe fa-stack-2x text-primary"></i>
        {% if project.publish_status == 'published' %}
            <i class="fa fa-arrow-up fa-lg text-success lp-outline"></i>
        {% elif project.publish_status == 'unpublished' %}
            <i class="fa fa-ban fa-lg text-warning lp-outline"></i>
        {% elif project.publish_status == 'revoked' %}
            <i class="fa fa-times fa-lg text-danger lp-outline"></i>
        {% else %}
            <i class="fa fa-question fa-lg text-danger lp-outline"></i>
        {% endif %}
    </span>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <style type="text/css">
        .map {
            height: 300px;
            width: 300px;
            margin: 0;
        }
    </style>

    <script type="text/javascript">
        function initialize_map() {
            var map = new google.maps.Map(
                    document.getElementById('my_awesome_map'), {
                        center: new google.maps.LatLng(56.541, -3.428),
                        zoom: 9,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });


            var rectangle = new google.maps.Rectangle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 1,
                fillColor: '#FF0000',
                fillOpacity: 0.15,
                map: map,
                bounds: new google.maps.LatLngBounds(
                        new google.maps.LatLng(56.548, -3.445),
                        new google.maps.LatLng(56.534, -3.412))
            });

            var map2 = new google.maps.Map(
                    document.getElementById('my_awesome_map2'), {
                        center: new google.maps.LatLng(56.541, -3.428),
                        zoom: 13,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });


            var rectangle2 = new google.maps.Rectangle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 1,
                fillColor: '#000000',
                fillOpacity: 0.0,
                map: map2,
                bounds: new google.maps.LatLngBounds(
                        new google.maps.LatLng(56.548, -3.445),
                        new google.maps.LatLng(56.534, -3.412))
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize_map);
    </script>
    <div class="row">
        <div id="my_awesome_map" class="map col-md-5"></div>
        <div class="col-md-1"></div>
        <div id="my_awesome_map2" class="map col-md-5"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Related organizations</h3>
            {{ org_table }}
        </div>
        <div class="col-md-6">
            <h3>Related projects</h3>
            {{ linked_proj_table }}
        </div>
    </div>
{% endblock %}