{% extends 'base.html' %}
{% block head %}
    {{  super() }}
{% endblock %}
{% set page_title='Reset password' %}
{% block content %}
    <div class="row">
        <div class="col-md-3 visible-lg visible-md"></div>
        <div class="col-md-6">
            <form role="form" name="forgot_password_form" method="POST" action="{{ url_for_security('forgot_password') }}">
                {{ forgot_password_form.hidden_tag() }}
                <div class="form-group {{ 'has-error' if forgot_password_form.email.errors }}">
                    {{ forgot_password_form.email.label(class='control-label') }}
                    {{ forgot_password_form.email(autofocus='', class='form-control', aria_describedby='emailHelpBlock')|safe }}
                    <span id="emailHelpBlock" class="help-block">
                        {% if forgot_password_form.email.errors %}
                            {{ forgot_password_form.email.errors|join(', ') }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </span>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Reset password</button>
            </form>
        </div>
    </div>
{% endblock %}